<%- include("partials/headerB") -%>
<!-- dashboard -->
<section id="pricing" class="container-fluid">
  <h2>Dashboard</h2>
  <h3>Your items</h3>
  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p> -->
  <div class="row">
    <%newBookItems.forEach(function(book){%>
    <div class="pricing-column col-lg-4 col-md-6">
      <form class="" action="/delete/<%=user%>" method="post">
        <div class="card ">
          <div class="card-header">
            <input type="checkbox" name="checkbox" value="<%=book._id%>" onchange="this.form.submit()" onclick="del()">
            <h3><%=book.bookname%></h3>
          </div>
          <div class="card-body">
            <h2>Rs. <%=book.sellp%> </h2>
            <p>Seller Name: <%=book.name%></p>
            <button type="button" class="btn btn-outline-dark"><a href="/bookdB/<%=user%>/<%=book.id%>" class="know">Know More</a></button>
          </div>
        </div>
      </form>
    </div>
    <%});%>

  </div>
  <div class="row">
    <%newItems.forEach(function(item){%>
    <div class="pricing-column col-lg-4 col-md-6">
      <form class="" action="/deleteo/<%=user%>" method="post">
        <div class="card ">
          <div class="card-header">
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()" onclick="del()">
            <h3><%=item.pname%></h3>
          </div>
          <div class="card-body">
            <h2>Rs. <%=item.sellp%> </h2>
            <p>Seller Name: <%=item.name%></p>
            <button type="button" class="btn btn-outline-dark"><a href="/otherdB/<%=user%>/<%=item.id%>" class="know">Know More</a></button>
          </div>
        </div>
      </form>

    </div>
    <%});%>
  </div>

<script>
  function del(){
    alert("Item Deleted!");
  }
</script>



</section>
<%- include("partials/footer") -%>>
