<%- include("partials/headerB") -%>
<!-- boxes of other products -->
<style>
  p{
    font-size: medium;
    display: block;
  }
  .card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.image img{
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

</style>
<div style="margin: 10px;">
  <p>
    This Page Contains All The Items Donated By Your Fellow MNNITians!!!
  </p>
</div>
<section id="pricing" class="container-fluid">
  <div class="main">
      <%newItems.forEach(function(item){%>
    
      <div class="card ">
        <div class="title">
          <h1><%=item.pname%></h1>
        </div>
        <div class="image">
          <img src= <%=item.imageUrl%>>
        </div>
        <div class="des">
          <p> <p style="font-size: larger; font-weight: 600;">Donated By:</p> <%=item.name%></p>
          <div style="margin-left: 10%;">
            <button type="button" class="btn btn-outline-dark"><a href="/productdB/<%=user%>/<%=item._id%>" class="know" >Know More</a></button>
          </div>
        </div>
      </div>
    
    <%});%>
  </div>

  </section>+
  <%- include("partials/footer") -%>>
