<%- include("partials/headerB") -%>
<!-- details of other products -->
<section id="list">
  <div class="container-fluid">
    <h2><%=pname%> Rs. <%=sellp%></h2>
    <p>
      Seller Name: <%=name%><br><br><br>
      <%=pname%> Details: <br />
      1. Brand: <%=brand%><br>
      2. Year: <%=year%><br>
      3. Condition: <%=condition%><br>
      4. Others: <%=others%><br><br>
      Seller Details:<br>
      1. Phone No: <%=phone%><br />
      2. EmailId: <%=email%><br>
      3. Hostel name : <%=hostel%><br>
      4. Room No: <%=room%><br>
      5. More: <%=time%><br />
      </p>

      <button type="button" class="btn btn-outline-dark"><a href="/others/<%=user%>" class="know" >Go Back</a></button>


  </div>
</section>
<%- include("partials/footer") -%>
